@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb{
    @apply bg-slate-700 shadow-2xl;
    border-radius: 20px;

}


::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-track {
    @apply bg-slate-600
}